html, body {
    height: 100%;
    font-size: 100%;
    margin: 0;
}
.ss-header h2 {
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    padding: 1em 0;
    border-bottom: 3px solid #BFBFBF;
}
.ss-main {
    display: flex;
    height: 60%;
    background-color: #EFEFEF;
    flex-direction: row-reverse;
}
.ss-row {
    display: flex;
    width: 100%;
    height: 33.33%;
}
.ss-col-3 {
    display: flex;
    align-items: center;
    justify-content: center;;
    width: 33.33%;
    color: white;
    font-size: 5em;
}
.ss-table {
    width: 70%;
}
.ss-menu {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0px 1em;
}
.ss-menu button {
    margin: 1em;
    background: #72C3DC;
    -webkit-box-shadow: 0px 3px 0px 0px #2B8DAD;
    -moz-box-shadow:    0px 3px 0px 0px #2B8DAD;
    box-shadow:         0px 3px 0px 0px #2B8DAD; 
    border: none;
    border-radius: 4px;
    padding: 1em;
    outline: none;
    color: white;
}
.ss-menu button:hover,
.ss-menu button:focus {
    border: 1px solid #2F454E;
}
.ss-footer {
    text-align: center;
    padding: 1em 0;
}
/** random colors**/
.color-one {
    background-color: #6E98A8;
}

.color-two {
    background-color: #2B8DAD;
}

.color-three {
    background-color: #2F454E;
}
.color-four {
    background-color: #BFBFBF;
}

@media only screen and (max-width: 375px) {
    .ss-header h2 {
        background-color: #333333;
        border: 0;
        color: white;
    }
    .ss-main {
        flex-direction: column;
        background-color: transparent;
        height: auto;
    }
    .ss-row {
        flex-direction: column;
    }
    .ss-col-3 {
        width: 100%;
        font-size: 1em;
        padding: 0.5em 0;
        margin-bottom: 0.2em;
    }
    .ss-menu {
        width: 100%;
        margin: 0;
        flex-direction: row;
        justify-content: center;
    }
    .ss-table {
        width: 100%;
    }
    /** random colors**/
    .color-one,
    .color-two,
    .color-three,
    .color-four {
        background-color: #EFEFEF;
        color: black;
    }
    .color-one {
        border-left: 3px solid #6E98A8;
    }
    
    .color-two {
        border-left: 3px solid #2B8DAD;
    }
    
    .color-three {
        border-left: 3px solid #2F454E;
    }
    .color-four {
        border-left: 3px solid #BFBFBF;
    }
    .ss-main, .ss-footer {
        margin: 0 0.8em;
    }
}